.game__window {
  padding: 2rem 2rem;
}

.game__area {
  padding: 2rem 2rem;
  width: 60rem;
  height: 50rem;
  border-radius: 10px;
  border: 3px solid;
  text-align: center;
  margin: auto;
  // position: absolute;
}

.game__block {
  // width: 20rem;
  height: 20rem;
  border-radius: 10px;
  // border: 3px solid;
  text-align: center;

  Button {
    width: 20rem;
  }
}
